@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$sm-device: 375px;
$md-device: 768px;
$card-radius: 15px;
$color-background-default: hsl(185, 75%, 39%);
$color-border-default: hsl(0, 0%, 91%);
$color-text-default: hsl(0, 0%, 59%);
$color-text-heading-default: hsl(229, 23%, 23%);

@mixin text-heading-default() {
  color: $color-text-heading-default;
  font-size: 18px;
  font-weight: 700;
}

@mixin center-text() {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: $color-background-default;
  height: 100vh;
  font-size: 16px;
  font-weight: 400;
  color: $color-text-default;
}

.profiles {
  display: flex;
  height: 97%;

  &::before {
    content: "";
    background: url('../images/bg-pattern-top.svg') no-repeat;
    background-position: right bottom;
    opacity: 0.4;
    position: absolute;
    top: -978px;
    bottom: 43%;
    left: -978px;
    right: 52.5%;
    z-index: -1;
  }

  &::after {
    content: "";
    background: url('../images/bg-pattern-bottom.svg') no-repeat;
    background-position: left top;
    position: absolute;
    top: 43%;
    bottom: 0;
    left: 39%;
    right: 0;
    z-index: -1;
  }
}

.profile-card {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 1px 30px 85px rgba(0,0,0,0.25);
  border-radius: $card-radius;

  &__header {
    background: url('../images/bg-pattern-card.svg') no-repeat;
    border-radius: $card-radius $card-radius 0 0;
    padding-top: 90px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff;
  }

  &__name {
    @include center-text;
    @include text-heading-default;
    margin: 27px 0 15px;
  }

  &__age {
    display: inline-flex;
    color: $color-text-default;
    font-weight: 400;
    margin-left: 10px
  }

  &__city {
    @include center-text;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
  }

  &__social {
    @include center-text;
    border-top: 1px solid $color-border-default;
    padding: 30px 30px 28px;

    &-elements {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &-element {
      display: grid;
      text-align: center;
      font-size: 11px;
      letter-spacing: 1px;
    }

    &-counter {
      @include text-heading-default;
      letter-spacing: normal;
      margin-bottom: 10px;
    }
  }
}

.attribution {
  color: hsl(229, 23%, 23%);
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (min-width: $sm-device) {
  .profile-card {
    max-width: 350px;
  }
}

@media screen and (min-width: $md-device) {
  .profiles {
    &::before {
      opacity: 1;
    }

    &::after {
      top: 48%;
      left: 50%;
    }
  }
}
